{
  "openapi": "3.1.0",
  "info": {
    "title": "WinWinKit API",
    "description": "An API for interacting with WinWinKit.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.winwinkit.com",
      "description": "The production server."
    }
  ],
  "paths": {
    "/referral/users": {
      "post": {
        "operationId": "createReferralUser",
        "summary": "Create a new referral user",
        "description": "Creates a new referral user in the database.",
        "requestBody": {
          "description": "The referral user to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralUserCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The referral user was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralUser"
                }
              }
            }
          }
        }
      }
    },
    "/referral/users/{id}": {
      "get": {
        "operationId": "getReferralUser",
        "summary": "Get the referral user by id",
        "description": "Returns the referral user by id.",
        "responses": {
          "200": {
            "description": "The referral user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralUser"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReferralUserCreate": {
        "type": "object",
        "properties": {
          "app_user_id": {
            "type": "string",
            "maxLength": 256,
            "description": "Unique identifier the user in your app.",
            "example": "8dfae4b5-1a2d-4c1e-9152-5297086a161c"
          },
          "is_premium": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Is the user premium.",
            "example": true
          },
          "first_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date when the user was first seen at.",
            "example": "2020-11-20T08:47:11.782+00:00"
          },
          "last_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date when the user was last seen at.",
            "example": "2020-11-20T08:47:11.782+00:00"
          },
          "metadata": {
            "type": [
              "object",
              "array",
              "null"
            ],
            "description": "Metadata object.",
            "example": "{\"key\": \"value\"}"
          }
        },
        "required": [
          "app_user_id"
        ],
        "description": "Create a new referral user."
      },
      "ReferralUserUpdate": {
        "type": "object",
        "properties": {
          "is_premium": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Is the user premium.",
            "example": true
          },
          "first_seen_at": {
            "type": "string",
            "description": "Date when the user was first seen at.",
            "example": "2020-11-20T08:47:11.782+00:00"
          },
          "last_seen_at": {
            "type": "string",
            "description": "Date when the user was last seen at.",
            "example": "2020-11-20T08:47:11.782+00:00"
          },
          "metadata": {
            "type": [
              "object",
              "array",
              "null"
            ],
            "description": "Metadata object.",
            "example": "{\"key\": \"value\"}"
          }
        },
        "description": "Update a referral user with new properties."
      },
      "RegisterReferralUserPushToken": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string",
            "maxLength": 128,
            "description": "Device identifier where the push token was received.",
            "example": "0dfae4b5-1a2d-4c1e-9152-5297086a161c"
          },
          "token": {
            "type": "string",
            "maxLength": 128,
            "description": "Push token value.",
            "example": "0dfae4b5-1a2d-4c1e-9152-5297086a161c"
          },
          "token_type": {
            "type": "string",
            "description": "Push token type. Must be 'apns' or 'fcm'.",
            "example": "apns"
          }
        },
        "required": [
          "device_id",
          "token",
          "token_type"
        ],
        "description": "Register a new push token for a referral user."
      },
      "UnregisterReferralUserPushToken": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string",
            "maxLength": 128,
            "description": "Device identifier where the push token was received.",
            "example": "0dfae4b5-1a2d-4c1e-9152-5297086a161c"
          }
        },
        "required": [
          "device_id"
        ],
        "description": "Unregister push token for a referral user."
      },
      "ReferralUser": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ReferralUserId"
          },
          "app_user_id": {
            "type": "string",
            "maxLength": 256,
            "description": "Unique identifier the user in your app.",
            "example": "8dfae4b5-1a2d-4c1e-9152-5297086a161c"
          },
          "is_premium": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Is the user premium.",
            "example": true
          },
          "first_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date when the user was first seen at.",
            "example": "2020-11-20T08:47:11.782+00:00"
          },
          "last_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date when the user was last seen at.",
            "example": "2020-11-20T08:47:11.782+00:00"
          },
          "metadata": {
            "type": [
              "object",
              "array",
              "null"
            ],
            "description": "Metadata object.",
            "example": "{\"key\": \"value\"}"
          }
        },
        "required": [
          "id",
          "app_user_id"
        ],
        "description": "Create a new referral user."
      },
      "ReferralUserId": {
        "type": "string",
        "minLength": 1,
        "description": "The unique identifier of the referral user.",
        "example": ""
      }
    }
  }
}